# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Pytest cache
.pytest_cache/

# Misc
secrets.json
